/* line 2, ../../source_sass/_base.scss */
html, body {
  font-family: "Oswald", sans-serif;
  line-height: 150%;
  color: #f6f6f6;
  background-color: #191919;
  text-align: center;
  font-weight: 300; }

/* line 11, ../../source_sass/_base.scss */
body.is-reveal-open {
  padding-right: 8px; }

/* Turn on custom 8px wide scrollbar */
/* line 16, ../../source_sass/_base.scss */
::-webkit-scrollbar {
  width: 8px;
  /* 1px wider than Lion. */
  /* This is more usable for users trying to click it. */
  background-color: #191919;
  -webkit-border-radius: 100px; }

/* hover effect for both scrollbar area, and scrollbar 'thumb' */
/* line 23, ../../source_sass/_base.scss */
::-webkit-scrollbar:hover {
  background-color: #272727; }

/* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
/* line 28, ../../source_sass/_base.scss */
::-webkit-scrollbar-thumb:vertical {
  background: rgba(255, 255, 255, 0.3);
  -webkit-border-radius: 100px; }

/* line 32, ../../source_sass/_base.scss */
::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(255, 255, 255, 0.4);
  /* Some darker color when you click it */
  -webkit-border-radius: 100px; }

/* line 37, ../../source_sass/_base.scss */
p {
  font-size: 1.15em; }

/* line 41, ../../source_sass/_base.scss */
h1, h3 {
  letter-spacing: 2px;
  text-transform: uppercase; }

/* line 46, ../../source_sass/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans Condensed", sans-serif; }

/* line 50, ../../source_sass/_base.scss */
.highlight {
  color: #FEE855; }

/* line 54, ../../source_sass/_base.scss */
.transparent {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  width: 100%;
  height: 100vh; }

/* line 61, ../../source_sass/_base.scss */
.sticky {
  z-index: 2; }

/* line 65, ../../source_sass/_base.scss */
.title {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 60px; }

/* line 71, ../../source_sass/_base.scss */
.white {
  background-color: #f6f6f6;
  color: #191919;
  width: 100%; }

/* line 77, ../../source_sass/_base.scss */
#site-container {
  overflow-x: hidden; }

/* line 81, ../../source_sass/_base.scss */
.top-bar, #nav-list {
  background-color: #191919; }

/* line 85, ../../source_sass/_base.scss */
.nav-container {
  position: fixed;
  width: 100%;
  z-index: 2; }
  /* line 90, ../../source_sass/_base.scss */
  .nav-container nav, .nav-container .title-bar {
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out; }
    /* line 97, ../../source_sass/_base.scss */
    .nav-container nav .active, .nav-container .title-bar .active {
      color: #FEE855; }
    /* line 101, ../../source_sass/_base.scss */
    .nav-container nav.page-end a, .nav-container .title-bar.page-end a {
      color: #f6f6f6; }
      /* line 103, ../../source_sass/_base.scss */
      .nav-container nav.page-end a#nav-last, .nav-container .title-bar.page-end a#nav-last {
        color: #FEE855; }
    /* line 108, ../../source_sass/_base.scss */
    .nav-container nav a, .nav-container .title-bar a {
      text-align: center;
      color: #f6f6f6; }
      /* line 111, ../../source_sass/_base.scss */
      .nav-container nav a:hover, .nav-container .title-bar a:hover {
        color: #FEE855 !important; }
    /* line 116, ../../source_sass/_base.scss */
    .nav-container nav.large, .nav-container .title-bar.large {
      font-size: 1.175em;
      padding-top: 10px;
      padding-bottom: 10px;
      -webkit-transition: all 0.25s ease-in-out;
      -moz-transition: all 0.25s ease-in-out;
      -o-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out; }

/* line 125, ../../source_sass/_base.scss */
#hero {
  background-image: url("../data/computer.jpg");
  background-size: cover;
  background-position-x: center;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
  color: #f6f6f6; }
  /* line 140, ../../source_sass/_base.scss */
  #hero .hero-text {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center; }
    /* line 143, ../../source_sass/_base.scss */
    #hero .hero-text h1 {
      text-transform: uppercase; }
    /* line 146, ../../source_sass/_base.scss */
    #hero .hero-text h3 {
      text-transform: none; }

/* line 153, ../../source_sass/_base.scss */
#about {
  padding-bottom: 150px; }
  /* line 155, ../../source_sass/_base.scss */
  #about .info {
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 150px; }
    /* line 160, ../../source_sass/_base.scss */
    #about .info h3 {
      color: #FEE855;
      letter-spacing: 2px; }
    /* line 165, ../../source_sass/_base.scss */
    #about .info p {
      text-align: center; }

/* line 171, ../../source_sass/_base.scss */
#projects {
  padding-top: 100px;
  padding-bottom: 100px; }
  /* line 175, ../../source_sass/_base.scss */
  #projects p {
    padding: 0 30px; }
  /* line 179, ../../source_sass/_base.scss */
  #projects .slick-dots {
    margin-left: -15px; }
  /* line 183, ../../source_sass/_base.scss */
  #projects .slick-prev:before, #projects .slick-next:before {
    color: #191919 !important; }
  /* line 187, ../../source_sass/_base.scss */
  #projects .links {
    font-size: 1.3em;
    font-family: "Open Sans Condensed", sans-serif; }
    /* line 190, ../../source_sass/_base.scss */
    #projects .links a {
      color: #191919; }
      /* line 192, ../../source_sass/_base.scss */
      #projects .links a:hover {
        text-decoration: underline; }

/* line 201, ../../source_sass/_base.scss */
#future {
  position: relative;
  height: 500px; }
  /* line 205, ../../source_sass/_base.scss */
  #future .video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    /* line 208, ../../source_sass/_base.scss */
    #future .video-container video {
      height: 100%;
      display: none; }
    /* line 213, ../../source_sass/_base.scss */
    #future .video-container .filter {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.3); }
  /* line 219, ../../source_sass/_base.scss */
  #future .text-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 1.4em; }
    /* line 223, ../../source_sass/_base.scss */
    #future .text-container .row {
      max-width: 889px;
      margin: 0 auto;
      position: relative;
      top: 50%;
      transform: translateY(-50%); }
      /* line 229, ../../source_sass/_base.scss */
      #future .text-container .row p {
        padding-left: 20px;
        padding-right: 20px;
        text-shadow: black 1px 1px 1px; }

/* line 239, ../../source_sass/_base.scss */
#skills {
  padding-top: 100px;
  padding-bottom: 100px; }
  /* line 243, ../../source_sass/_base.scss */
  #skills .modal {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 50px 0px;
    box-sizing: border-box;
    color: #191919; }
    /* line 250, ../../source_sass/_base.scss */
    #skills .modal.middle {
      border: none; }
    /* line 254, ../../source_sass/_base.scss */
    #skills .modal i {
      font-size: 3em;
      margin-bottom: 10px; }
    /* line 259, ../../source_sass/_base.scss */
    #skills .modal:hover {
      background-color: #191919;
      color: #FEE855; }

/* line 266, ../../source_sass/_base.scss */
.reveal {
  color: #f6f6f6;
  background-color: #191919;
  padding: 60px 60px; }
  /* line 271, ../../source_sass/_base.scss */
  .reveal .close-button {
    position: absolute;
    top: 0;
    right: 0;
    color: #f6f6f6;
    padding-right: 15px;
    padding-top: 15px; }
    /* line 272, ../../source_sass/_base.scss */
    .reveal .close-button span {
      font-size: 2.25em;
      line-height: 15px; }
    /* line 284, ../../source_sass/_base.scss */
    .reveal .close-button:hover {
      color: #FEE855; }
  /* line 289, ../../source_sass/_base.scss */
  .reveal h3 {
    margin-bottom: 20px; }
  /* line 293, ../../source_sass/_base.scss */
  .reveal li {
    font-size: 1.1em; }

/* line 298, ../../source_sass/_base.scss */
#contact {
  padding-bottom: 150px;
  padding-top: 100px; }
  /* line 302, ../../source_sass/_base.scss */
  #contact h3 {
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FEE855; }
  /* line 308, ../../source_sass/_base.scss */
  #contact i {
    margin-top: 60px;
    font-size: 5em;
    color: #f6f6f6; }
    /* line 312, ../../source_sass/_base.scss */
    #contact i:hover {
      color: #FEE855; }

@media (min-width: 640px) {
  /* line 319, ../../source_sass/_base.scss */
  #future .video-container video {
    display: initial; }

  /* line 324, ../../source_sass/_base.scss */
  #skills .modal {
    border: 1px solid black; }
    /* line 327, ../../source_sass/_base.scss */
    #skills .modal.middle {
      border-top: 1px solid black;
      border-bottom: 1px solid black;
      border-left: none;
      border-right: none; } }
