html, body {
  width: 100%;
  height: 100%;
  min-height: 100%;
  overflow: hidden; }

html {
  background-color: #D8D8D8; }

body {
  margin: 0 auto;
  background-color: #D8D8D8;
  display: -webkit-box; }

img {
  max-width: 100%; }

ul {
  list-style-type: none;
  padding: 0; }

li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block; }

svg {
  fill: #4E4E4E;
  cursor: pointer; }
  svg:hover {
    fill: #C76256; }

#topbar {
  width: 100%;
  height: 2.5em;
  line-height: 2.5em;
  background-color: #4E4E4E;
  position: fixed;
  z-index: 9999; }
  #topbar .menu {
    font-size: 1.25em;
    padding-left: 0.5em;
    color: #D8D8D8;
    cursor: pointer; }

#nav {
  display: none;
  width: 28%;
  max-width: 280px;
  min-width: 170px;
  border-right: 3px solid #C76256;
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  background: #4E4E4E; }
  #nav.active {
    display: block;
    position: relative; }
  #nav .nav-item {
    box-sizing: border-box;
    width: 100%;
    height: 15%;
    vertical-align: middle;
    text-align: center; }
    #nav .nav-item div {
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      color: #D8D8D8;
      vertical-align: sub;
      font-size: 1.2em;
      font-family: 'Josefin Sans', sans-serif;
      font-style: italic; }
    #nav .nav-item.title {
      width: 100%;
      height: 20%;
      pointer-events: none; }
      #nav .nav-item.title > div {
        font-weight: bold;
        font-style: normal; }
    #nav .nav-item:hover {
      background-color: #939393;
      cursor: pointer; }
    #nav .nav-item.selected {
      background-color: #C76256;
      pointer-events: none; }

#main {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll; }
  #main > div {
    height: 100%;
    width: 100%;
    display: table;
    position: relative; }

.content {
  display: table-cell;
  vertical-align: middle;
  padding: 4.5em 3em 2em 3em;
  font-family: 'Fjord One', serif;
  text-align: justify;
  color: #4E4E4E; }
  .content .underline {
    width: 100%;
    background-color: #C76256;
    height: 0.25em;
    margin-top: 0.25em;
    margin-bottom: 1.5em; }
  .content .section-header {
    font-size: 1.75em;
    text-align: left; }
  .content .projects {
    margin: 0; }
    .content .projects .project {
      margin-bottom: 1.25em; }
      .content .projects .project:last-child {
        margin-bottom: 0; }
      .content .projects .project svg {
        width: 2em;
        height: 2em;
        margin-left: 0.75em; }
  .content .contact svg {
    width: 7em;
    height: 7em; }

@media all and (min-width: 600px) {
  html, body {
    overflow: visible; }

  body {
    display: flex;
    flex-direction: row; }

  #topbar {
    display: none; }

  #nav {
    display: block;
    flex-shrink: 0; }
    #nav .nav-item.title {
      margin-left: 0; }
      #nav .nav-item.title > div {
        font-size: 1.2em; }

  #main {
    flex-grow: 100; }
    #main .content {
      padding: 2em 3em; } }

/*# sourceMappingURL=style.css.map */
